<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
    http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core-5.2.0.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:environment.properties"/>
    </bean>
	
	<bean id="rssRoute" class="com.example.camel.RssRoute"/>
    
    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <routeBuilder ref="rssRoute"/>
    </camelContext>
    
    <broker xmlns="http://activemq.apache.org/schema/core"
        brokerName="localhost"
        dataDirectory="${amq.dataDir}">
        <persistenceAdapter>
            <amqPersistenceAdapter syncOnWrite="false" directory="${amq.persistenceAdapter.dir}" maxFileLength="20 mb"/>
        </persistenceAdapter>
        <systemUsage>
            <systemUsage>
                <memoryUsage>
                    <memoryUsage limit="20 mb"/>
                </memoryUsage>
                <storeUsage>
                    <storeUsage limit="1 gb" name="foo"/>
                </storeUsage>
                <tempUsage>
                    <tempUsage limit="100 mb"/>
                </tempUsage>
            </systemUsage>
        </systemUsage>
        <transportConnectors>
            <transportConnector name="openwire" uri="tcp://localhost:61616"/>
        </transportConnectors>
    </broker>
	
	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="vm://localhost?create=false&amp;waitForStart=10000"/>
	</bean>
    
	<!-- this bean becomes the namespace prefix for jms routes e.g uri="jms:feedQueue" -->
	<bean id="jms" class="org.apache.camel.component.jms.JmsComponent"> 
		<property name="connectionFactory" ref="connectionFactory"/> 
		<property name="useMessageIDAsCorrelationID" value="true"/> 
	</bean> 

</beans>